/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0; /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  --webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  --webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  --webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  --webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

body {
  font-family: "Poppins", sans-serif;
  color: #8f95a5;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

.link {
  text-decoration: none;
}

.button {
  font-family: inherit;
  color: #ffffff;
  background-color: #263238;
  border-radius: 10px;
  border-color: transparent;
  cursor: pointer;
}

.title {
  font-weight: 600;
  color: #000000;
  text-align: center;
}
@media screen and (max-width: 574px) {
  .title {
    font-size: 24px;
    line-height: 3.3333333333;
  }
}
@media screen and (min-width: 575px) {
  .title {
    font-size: 30px;
    line-height: 2.6666666667;
  }
}
@media screen and (min-width: 992px) {
  .title {
    font-size: 36px;
    line-height: 2.2222222222;
  }
}
@media screen and (min-width: 1378px) {
  .title {
    font-size: 48px;
    line-height: 1.5;
  }
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 574px) {
  .container {
    width: 320px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (min-width: 575px) {
  .container {
    width: 575px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 992px) {
  .container {
    width: 992px;
  }
}
@media screen and (min-width: 1378px) {
  .container {
    width: 1378px;
  }
}

@media screen and (max-width: 574px) {
  .section {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
@media screen and (min-width: 575px) {
  .section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media screen and (min-width: 768px) {
  .section {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media screen and (min-width: 992px) {
  .section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media screen and (min-width: 1378px) {
  .section {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 574px) {
  .header__container {
    padding-top: 36px;
    padding-bottom: 29px;
  }
}
@media screen and (min-width: 575px) {
  .header__container {
    padding-top: 39px;
  }
}
@media screen and (min-width: 768px) {
  .header__container {
    padding-top: 39px;
  }
}
@media screen and (min-width: 992px) {
  .header__container {
    padding-top: 30px;
  }
}
@media screen and (min-width: 1378px) {
  .header__container {
    padding-top: 63px;
  }
}

.button-menu__open {
  border: none;
  background-color: transparent;
  margin-left: auto;
}
@media screen and (min-width: 992px) {
  .button-menu__open {
    display: none;
  }
}

@media screen and (max-width: 574px) {
  .button-menu__icon--open {
    width: 33px;
    height: 19px;
  }
}
@media screen and (min-width: 575px) {
  .button-menu__icon--open {
    width: 42px;
    height: 22px;
  }
}

.logo {
  color: #000000;
}
@media screen and (max-width: 574px) {
  .logo {
    font-size: 24px;
    line-height: 1.5;
  }
}
@media screen and (min-width: 575px) {
  .logo {
    font-size: 30px;
    line-height: 1.5;
  }
}
@media screen and (min-width: 1378px) {
  .logo {
    font-size: 36px;
    line-height: 1.5;
    margin-right: 236px;
  }
}

.logo--accent {
  color: #939393;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 991px) {
  .nav {
    display: none;
  }
}
@media screen and (min-width: 992px) and (max-width: 1377px) {
  .nav {
    margin-left: 167px;
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (min-width: 992px) {
  .nav__list {
    gap: 30px;
  }
}
@media screen and (min-width: 1378px) {
  .nav__list {
    gap: 50px;
  }
}

.nav__link {
  font-weight: 500;
  color: #263238;
}
@media screen and (min-width: 992px) {
  .nav__link {
    font-size: 16px;
    line-height: 1.5;
  }
}
@media screen and (min-width: 1378px) {
  .nav__link {
    font-size: 20px;
    line-height: 1.5;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.button__header {
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #000000;
  border: 2px solid #263238;
  border-radius: 10px;
  background-color: transparent;
  text-align: center;
  margin-left: auto;
}
@media screen and (max-width: 991px) {
  .button__header {
    display: none;
  }
}
@media screen and (min-width: 992px) {
  .button__header {
    min-width: 160px;
    padding: 8px 30px;
  }
}
@media screen and (min-width: 1378px) {
  .button__header {
    padding-top: 20px;
    padding-bottom: 20px;
    min-width: 312px;
  }
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .hero__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .hero__container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 40px;
  }
}
@media screen and (min-width: 992px) {
  .hero__container {
    gap: 70px;
  }
}

.container--first {
  position: relative;
}
@media screen and (max-width: 574px) {
  .container--first {
    width: 292px;
  }
}
@media screen and (min-width: 575px) {
  .container--first {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 492px;
  }
}
@media screen and (min-width: 768px) {
  .container--first {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 338px;
  }
}
@media screen and (min-width: 992px) {
  .container--first {
    width: 420px;
  }
}
@media screen and (min-width: 1378px) {
  .container--first {
    width: 540px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .container--second {
    width: 352px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1377px) {
  .container--second {
    width: 460px;
  }
}

.svg-bulb {
  position: absolute;
}
@media screen and (max-width: 768px) {
  .svg-bulb {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .svg-bulb {
    top: 50px;
    left: 200px;
  }
}
@media screen and (min-width: 992px) {
  .svg-bulb {
    top: 100px;
    left: 260px;
  }
}
@media screen and (min-width: 1378px) {
  .svg-bulb {
    top: 120px;
    left: 400px;
  }
}

.hero__title {
  font-weight: 600;
  color: #000000;
}
@media screen and (max-width: 574px) {
  .hero__title {
    font-size: 24px;
    line-height: 1.5;
    margin-top: 16px;
  }
}
@media screen and (min-width: 575px) {
  .hero__title {
    font-size: 34px;
    line-height: 1.3235294118;
    margin-top: 17px;
  }
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 36px;
    line-height: 1.25;
    width: 217px;
  }
}
@media screen and (min-width: 992px) {
  .hero__title {
    font-size: 48px;
    line-height: 1.3333333333;
    width: 290px;
  }
}
@media screen and (min-width: 1378px) {
  .hero__title {
    font-size: 64px;
    line-height: 1.25;
    width: 386px;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 574px) {
  .hero__text {
    font-size: 14px;
    line-height: 1.5;
    margin-top: 20px;
  }
}
@media screen and (min-width: 575px) {
  .hero__text {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 26px;
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .hero__text {
    text-align: start;
  }
}
@media screen and (min-width: 992px) {
  .hero__text {
    font-size: 20px;
    line-height: 1.5;
  }
}
@media screen and (min-width: 1378px) {
  .hero__text {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 320px) {
  .hero-image {
    width: 299px;
  }
}
@media screen and (min-width: 575px) {
  .hero-image {
    width: 424px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .hero-image {
    width: 352px;
  }
}
@media screen and (min-width: 992px) {
  .hero-image {
    width: 460px;
  }
}
@media screen and (min-width: 1378px) {
  .hero-image {
    width: 654px;
  }
}

.pricing-img {
  margin-left: auto;
  margin-right: auto;
}

.button__hero {
  font-weight: 500;
}
@media screen and (max-width: 574px) {
  .button__hero {
    font-size: 16px;
    line-height: 1.5;
    padding: 18px 95px;
    margin-top: 33px;
  }
}
@media screen and (min-width: 575px) {
  .button__hero {
    font-size: 18px;
    line-height: 1.5;
    padding: 24px 102px;
    margin-top: 37px;
  }
}
@media screen and (min-width: 768px) {
  .button__hero {
    padding: 19px 67px;
    margin-top: 32px;
  }
}
@media screen and (min-width: 992px) {
  .button__hero {
    padding: 22px 79px;
  }
}
@media screen and (min-width: 1378px) {
  .button__hero {
    font-size: 36px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.03em;
    padding-top: 23px;
    padding-bottom: 23px;
    min-width: 426px;
  }
}

.image {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 574px) and (max-width: 768px) {
  .image {
    width: 185px;
  }
}
@media screen and (min-width: 1378px) {
  .image {
    padding-top: 32px;
  }
}

@media screen and (min-width: 574px) and (max-width: 768px) {
  .image--padding {
    padding-top: 40px;
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 574px) {
  .parent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 21px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 32px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 575px) {
  .parent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 30px;
  }
}
@media screen and (min-width: 768px) {
  .parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    margin-top: 60px;
  }
}

.card-skils {
  background: #f5f5f5;
  border-radius: 10px;
}
@media screen and (min-width: 575px) and (max-width: 767px) {
  .card-skils {
    width: 240px;
    height: 543px;
  }
}

@media screen and (max-width: 574px) {
  .card-skils__container {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 45px;
  }
}
@media screen and (min-width: 575px) {
  .card-skils__container {
    padding-left: 15px;
    padding-right: 25px;
    padding-bottom: 35px;
  }
}
@media screen and (min-width: 767px) {
  .card-skils__container {
    padding-left: 15px;
    padding-right: 25px;
    padding-bottom: 30px;
  }
}
@media screen and (min-width: 1378px) {
  .card-skils__container {
    padding-left: 18px;
    padding-right: 50px;
    padding-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .card-skils__speaking {
    grid-area: 1/1/3/2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .card-skils__writing {
    grid-area: 1/2/2/3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .card-skils__reading {
    grid-area: 1/3/2/4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .card-skils__listening {
    grid-area: 2/2/3/4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .card-skils__listening .image {
    width: 202px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1377px) {
  .card-skils__listening .image {
    width: 254px;
  }
}

.card-skils__subtitle {
  font-weight: 600;
  color: #263238;
}
@media screen and (max-width: 767px) {
  .card-skils__subtitle {
    font-size: 18px;
    line-height: 4.4444444444;
  }
}
@media screen and (min-width: 768px) {
  .card-skils__subtitle {
    font-size: 22px;
    line-height: 4;
  }
}
@media screen and (min-width: 1378px) {
  .card-skils__subtitle {
    font-size: 30px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 574px) {
  .card-skils__text {
    font-size: 13px;
    line-height: 1.5384615385;
  }
}
@media screen and (min-width: 575px) {
  .card-skils__text {
    font-size: 12px;
    line-height: 1.5;
  }
}
@media screen and (min-width: 768px) {
  .card-skils__text {
    font-size: 13px;
    line-height: 1.5384615385;
  }
}
@media screen and (min-width: 992px) {
  .card-skils__text {
    font-size: 14px;
    line-height: 1.5;
  }
}
@media screen and (min-width: 1378px) {
  .card-skils__text {
    font-size: 16px;
    line-height: 1.5;
  }
}

.card-skils__text + .card-skils__text {
  margin-top: 20px;
}

.button__skils {
  font-weight: 500;
  text-align: center;
}
@media screen and (max-width: 574px) {
  .button__skils {
    font-size: 14px;
    line-height: 1.5;
    padding: 14px 43px;
    margin-top: 30px;
  }
}
@media screen and (min-width: 575px) {
  .button__skils {
    font-size: 14px;
    line-height: 1.5;
    padding: 14px 54px;
  }
}
@media screen and (min-width: 768px) {
  .button__skils {
    font-size: 16px;
    line-height: 1.5;
    padding: 14px 43px;
    margin-top: 13px;
  }
}
@media screen and (min-width: 992px) {
  .button__skils {
    font-size: 18px;
    line-height: 1.5;
    padding: 13px 45px;
  }
}
@media screen and (min-width: 1378px) {
  .button__skils {
    font-size: 20px;
    line-height: 1.5;
    padding: 14px 51px;
    margin-top: 20px;
  }
}

@media screen and (min-width: 574px) and (max-width: 768px) {
  .button__skils--first {
    margin-top: 20px;
  }
}

@media screen and (min-width: 574px) and (max-width: 768px) {
  .button__skils--second {
    margin-top: 100px;
  }
}

@media screen and (min-width: 574px) and (max-width: 768px) {
  .button__skils--third,
.button__skils--fourth {
    margin-top: 185px;
  }
}

@media screen and (min-width: 768px) {
  .about-us__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    gap: 110px;
  }
}
@media screen and (min-width: 992px) {
  .about-us__container {
    gap: 85px;
  }
}
@media screen and (min-width: 1378px) {
  .about-us__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 146px;
  }
}

@media screen and (min-width: 768px) {
  .about-us__title {
    text-align: start;
  }
}

@media screen and (min-width: 768px) {
  .about-us__container--before {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 321px;
  }
}
@media screen and (min-width: 992px) {
  .about-us__container--before {
    width: 525px;
  }
}
@media screen and (min-width: 1378px) {
  .about-us__container--before {
    width: 652px;
  }
}

.about-us__image {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (miax-width: 574px) {
  .about-us__image {
    width: 283px;
  }
}
@media screen and (min-width: 575px) {
  .about-us__image {
    width: 352px;
  }
}
@media screen and (min-width: 768px) {
  .about-us__image {
    width: 295px;
  }
}
@media screen and (min-width: 992px) {
  .about-us__image {
    width: 336px;
  }
}
@media screen and (min-width: 1378px) {
  .about-us__image {
    width: 540px;
  }
}

@media screen and (max-width: 574px) {
  .about-us__text {
    font-size: 13px;
    line-height: 1.5384615385;
    text-align: center;
    width: 295px;
  }
}
@media screen and (min-width: 575px) {
  .about-us__text {
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .about-us__text {
    text-align: start;
  }
}
@media screen and (min-width: 992px) {
  .about-us__text {
    font-size: 16px;
    line-height: 1.5;
  }
}
@media screen and (min-width: 1378px) {
  .about-us__text {
    font-size: 20px;
    line-height: 1.8;
    margin-top: 60px;
  }
}

@media screen and (min-width: 575px) {
  .feature {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media screen and (min-width: 768px) {
  .feature {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (min-width: 1378px) {
  .feature {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 131px;
    margin-top: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.feature__number {
  font-weight: 600;
  text-align: center;
  color: #2a3246;
}
@media screen and (max-width: 767px) {
  .feature__number {
    font-size: 24px;
    line-height: 3.3333333333;
  }
}
@media screen and (min-width: 768px) {
  .feature__number {
    font-size: 22px;
    line-height: 3.6363636364;
  }
}
@media screen and (min-width: 992px) {
  .feature__number {
    font-size: 30px;
    line-height: 2.6666666667;
  }
}
@media screen and (min-width: 1378px) {
  .feature__number {
    font-size: 48px;
    line-height: 1.5;
  }
}

.feature__about {
  text-align: center;
}
@media screen and (max-width: 574px) {
  .feature__about {
    font-size: 13px;
    line-height: 1.5384615385;
  }
}
@media screen and (min-width: 575px) {
  .feature__about {
    font-size: 14px;
    line-height: 1.5;
  }
}
@media screen and (min-width: 768px) {
  .feature__about {
    font-size: 13px;
    line-height: 1.5384615385;
  }
}
@media screen and (min-width: 992px) {
  .feature__about {
    font-size: 16px;
    line-height: 1.5;
  }
}
@media screen and (min-width: 1378px) {
  .feature__about {
    font-size: 20px;
    line-height: 1.5;
    width: 108px;
    margin-top: 6px;
  }
}

.pricing__container {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 574px) {
  .pricing__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 60px;
  }
}
@media screen and (min-width: 575px) {
  .pricing__container {
    gap: 70px;
  }
}
@media screen and (max-width: 767px) {
  .pricing__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .pricing__container {
    gap: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1378px) {
  .pricing__container {
    gap: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .pricing__item {
    width: 210px;
  }
}

@media screen and (min-width: 575px) {
  .pricing__content {
    width: 395px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (min-width: 768px) {
  .pricing__content {
    width: 210px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
@media screen and (min-width: 992px) {
  .pricing__content {
    width: 293px;
  }
}
@media screen and (min-width: 1378px) {
  .pricing__content {
    margin-top: 50px;
    width: 426px;
  }
}

.pricing__subtitle {
  font-weight: 600;
  color: #263238;
}
@media screen and (max-width: 574px) {
  .pricing__subtitle {
    font-size: 18px;
    line-height: 1.5555555556;
    text-align: center;
    margin-top: 30px;
  }
}
@media screen and (min-width: 575px) {
  .pricing__subtitle {
    font-size: 24px;
    line-height: 1.1666666667;
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .pricing__subtitle {
    font-size: 20px;
    line-height: 1.4;
    text-align: start;
  }
}
@media screen and (min-width: 992px) {
  .pricing__subtitle {
    font-size: 22px;
    line-height: 1.5454545455;
  }
}
@media screen and (min-width: 1378px) {
  .pricing__subtitle {
    font-size: 30px;
    line-height: 1.6;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .pricing__subtitle--width {
    width: 110px;
  }
}

@media screen and (max-width: 574px) {
  .pricing__text {
    font-size: 13px;
    line-height: 1.5384615385;
    margin-top: 25px;
    text-align: center;
  }
}
@media screen and (min-width: 575px) {
  .pricing__text {
    font-size: 14px;
    line-height: 1.5;
    margin-top: 23px;
  }
}
@media screen and (min-width: 768px) {
  .pricing__text {
    margin-top: 15px;
  }
}
@media screen and (min-width: 992px) {
  .pricing__text {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 14px;
  }
}
@media screen and (min-width: 1378px) {
  .pricing__text {
    font-size: 20px;
    line-height: 1.8;
    margin-top: 20px;
  }
}

.price {
  background: #eeeeee;
  border-radius: 5px;
  display: block;
}
@media screen and (max-width: 574px) {
  .price {
    width: 170px;
    margin-top: 33px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media screen and (min-width: 575px) {
  .price {
    width: 205px;
    margin-top: 31px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media screen and (max-width: 767px) {
  .price {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .price {
    margin-top: 23px;
  }
}
@media screen and (min-width: 992px) {
  .price {
    margin-top: 31px;
  }
}
@media screen and (min-width: 1378px) {
  .price {
    margin-top: 30px;
    width: 260px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media screen and (min-width: 1378px) {
  .price--first {
    margin-top: 30px;
  }
}

@media screen and (min-width: 768px) {
  .price--second,
.price--third {
    margin-top: 43px;
  }
}
@media screen and (min-width: 992px) {
  .price--second,
.price--third {
    margin-top: 55px;
  }
}
@media screen and (min-width: 1378px) {
  .price--second,
.price--third {
    margin-top: 65px;
  }
}

.price__after {
  color: #263238;
}
@media screen and (max-width: 574px) {
  .price__after {
    font-size: 18px;
    line-height: 1.5;
  }
}
@media screen and (min-width: 575px) {
  .price__after {
    font-size: 24px;
    line-height: 1.5;
  }
}
@media screen and (min-width: 768px) {
  .price__after {
    font-size: 22px;
    line-height: 1.5;
  }
}
@media screen and (min-width: 992px) {
  .price__after {
    font-size: 24px;
    line-height: 1.5;
  }
}
.price__before {
  color: #546269;
}
@media screen and (max-width: 574px) {
  .price__before {
    font-size: 14px;
    line-height: 1.5;
  }
}
@media screen and (min-width: 575px) {
  .price__before {
    font-size: 16px;
    line-height: 1.5;
  }
}
@media screen and (min-width: 1378px) {
  .price__before {
    font-size: 18px;
    line-height: 1.5;
  }
}

@media screen and (max-width: 574px) {
  .price__after,
.price__before {
    padding: 5px 0 5px 12px;
  }
}
@media screen and (min-width: 575px) {
  .price__after,
.price__before {
    padding: 6px 0;
  }
}
@media screen and (min-width: 1378px) {
  .price__after,
.price__before {
    padding: 5px 0 4px 29px;
  }
}

@media screen and (max-width: 574px) {
  .contact-us {
    padding-bottom: 50px;
  }
}

.contact-us__container {
  position: relative;
}
@media screen and (min-width: 768px) {
  .contact-us__container {
    padding-bottom: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
}
@media screen and (min-width: 1378px) {
  .contact-us__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 144px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
}

@media screen and (min-width: 768px) {
  .contact-us__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}
@media screen and (min-width: 992px) {
  .contact-us__content {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media screen and (min-width: 1378px) {
  .contact-us__content {
    width: 768px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media screen and (max-width: 574px) {
  .contact-us__text {
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    margin-top: 38px;
  }
}
@media screen and (min-width: 575px) {
  .contact-us__text {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    width: 469px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 34px;
  }
}
@media screen and (min-width: 768px) {
  .contact-us__text {
    font-size: 14px;
    line-height: 1.5;
    width: 400px;
    text-align: start;
    margin-top: 5px;
  }
}
@media screen and (min-width: 992px) {
  .contact-us__text {
    font-size: 16px;
    line-height: 1.5;
    margin-left: 0;
  }
}
@media screen and (min-width: 1378px) {
  .contact-us__text {
    font-size: 20px;
    line-height: 1.5;
    margin-top: 60px;
    width: 654px;
    margin-left: 0;
  }
}

@media screen and (min-width: 768px) {
  .contact-us__title {
    text-align: start;
  }
}

@media screen and (min-width: 320px) {
  .contact-us__image {
    width: 253px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 575px) {
  .contact-us__image {
    width: 335px;
  }
}
@media screen and (min-width: 768px) {
  .contact-us__image {
    position: absolute;
    top: 30px;
    left: 50px;
    width: 260px;
  }
}
@media screen and (min-width: 992px) {
  .contact-us__image {
    width: 312px;
  }
}
@media screen and (min-width: 1378px) {
  .contact-us__image {
    width: 425px;
  }
}

.form {
  margin-top: 30px;
}
@media screen and (max-width: 574px) {
  .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 17px;
  }
}
@media screen and (min-width: 575px) {
  .form {
    margin-top: 60px;
  }
}
@media screen and (min-width: 1378px) {
  .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.form__email {
  border: 1px solid #8f95a5;
  border-radius: 10px;
}
@media screen and (max-width: 574px) {
  .form__email {
    padding: 16px 26px;
    min-width: 291px;
    font-size: 12px;
    line-height: 1.5;
  }
}
@media screen and (min-width: 575px) {
  .form__email {
    font-size: 13px;
    line-height: 1.5384615385;
    padding: 20px 25px;
    min-width: 330px;
  }
}
@media screen and (min-width: 768px) {
  .form__email {
    font-size: 12px;
    line-height: 1.5;
    padding: 16px 24px;
    min-width: 245px;
  }
}
@media screen and (min-width: 992px) {
  .form__email {
    font-size: 14px;
    line-height: 1.5;
    padding: 20px 38px;
    min-width: 323px;
  }
}
@media screen and (min-width: 1378px) {
  .form__email {
    padding: 20px 30px;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    min-width: 425px;
  }
}

.button__form {
  border-color: transparent;
  color: #ffffff;
  background: #263238;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
}
@media screen and (max-width: 574px) {
  .button__form {
    font-size: 14px;
    line-height: 1.5;
    min-width: 290px;
    padding: 20px 110px;
  }
}
@media screen and (min-width: 575px) {
  .button__form {
    font-size: 16px;
    line-height: 1.5;
    padding: 18px 56px;
    min-width: 193px;
  }
}
@media screen and (min-width: 768px) {
  .button__form {
    font-size: 13px;
    line-height: 1.5384615385;
    padding: 15px 40px;
    min-width: 140px;
  }
}
@media screen and (min-width: 992px) {
  .button__form {
    font-size: 16px;
    line-height: 1.5;
    padding: 18px 56px;
  }
}
@media screen and (min-width: 1378px) {
  .button__form {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 30px;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    min-width: 312px;
  }
}

.footer__container {
  position: relative;
}
@media screen and (max-width: 574px) {
  .footer__container {
    text-align: center;
    padding-top: 26px;
    padding-bottom: 48px;
  }
}
@media screen and (min-width: 575px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
@media screen and (min-width: 992px) {
  .footer__container {
    padding-top: 22px;
    padding-bottom: 24px;
  }
}
@media screen and (min-width: 1378px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 55px;
  }
}

.footer__container::before {
  display: inline-block;
  position: absolute;
  content: "";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1px;
  top: 0;
  background: #c4c4c4;
}
@media screen and (max-width: 574px) {
  .footer__container::before {
    width: 290px;
    left: 15px;
  }
}
@media screen and (min-width: 575px) {
  .footer__container::before {
    width: 535px;
    left: 20px;
  }
}
@media screen and (min-width: 768px) {
  .footer__container::before {
    width: 728px;
  }
}
@media screen and (min-width: 992px) {
  .footer__container::before {
    width: 950px;
  }
}
@media screen and (min-width: 1378px) {
  .footer__container::before {
    width: 1338px;
  }
}

@media screen and (min-width: 1378px) {
  .footer__logo {
    margin-right: 463px;
  }
}

@media screen and (max-width: 574px) {
  .footer__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 15px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    gap: 10px;
  }
}
@media screen and (min-width: 575px) {
  .footer__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    gap: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 1378px) {
  .footer__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 80px;
  }
}

.footer__info {
  color: inherit;
  display: block;
}
@media screen and (max-width: 574px) {
  .footer__info {
    font-size: 10px;
    line-height: 1.6;
  }
}
@media screen and (min-width: 575px) {
  .footer__info {
    font-size: 12px;
    line-height: 1.5;
  }
}
@media screen and (min-width: 768px) {
  .footer__info {
    font-size: 13px;
    line-height: 1.5384615385;
  }
}
@media screen and (min-width: 992px) {
  .footer__info {
    font-size: 16px;
    line-height: 1.5;
  }
}
@media screen and (min-width: 1378px) {
  .footer__info {
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 31px;
    padding-bottom: 31px;
  }
}

@media screen and (max-width: 1377px) {
  .footer__item:not(:first-child) {
    list-style: disc;
  }
}

.menu-container {
  position: absolute;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .menu-container {
    width: 400px;
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
    -webkit-transition: -webkit-transform 250ms linear;
    transition: -webkit-transform 250ms linear;
    transition: transform 250ms linear;
    transition: transform 250ms linear, -webkit-transform 250ms linear;
  }
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-container__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: 35px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}
.menu-container__header::after {
  content: "";
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1px;
  bottom: 0;
  width: 290px;
  background: #c4c4c4;
}
@media screen and (max-width: 574px) {
  .menu-container__header {
    width: 290px;
  }
}
@media screen and (min-width: 575px) and (max-width: 767px) {
  .menu-container__header {
    width: 510px;
  }
  .menu-container__header::after {
    width: 510px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .menu-container__header {
    width: 364px;
  }
  .menu-container__header::after {
    position: absolute;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 364px;
  }
}

.button-menu__close {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  border-radius: transparent;
}/*# sourceMappingURL=main.css.map */