.button__hero {
  font-size: 36px;
  line-height: calc(54 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  // padding-top: 23px;
  // padding-bottom: 23px;
  // min-width: 426px;

  @media screen and(min-width: 320px) {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24 / 16);
    padding: 18px 95px;
    margin-top: 33px;
  }
}
