.contact-us__container {
  display: flex;
  gap: 144px;
}

.contact-us__content {
  width: 768px;
}

.contact-us__content--widtn {
  width: 654px;
}

.contact-us__text {
  font-size: 20px;
  line-height: calc(36 / 20);
  margin-top: 60px;
}

.contact-us__title {
  text-align: start;
}
