.contact-us {
  @media screen and (max-width: 574px) {
    padding-bottom: 50px;
  }
}

.contact-us__container {
  position: relative;

  @media screen and (min-width: 768px) {
    padding-bottom: 100px;
  }

  @media screen and (min-width: 1378px) {
    display: flex;
    gap: 144px;
    justify-content: end;
  }
}

.contact-us__content {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  @media screen and (min-width: 1378px) {
    width: 768px;
  }
}

.contact-us__content--widtn {
  @media screen and (min-width: 1378px) {
    width: 654px;
  }
}

.contact-us__text {
  @media screen and (max-width: 574px) {
    font-size: 14px;
    line-height: calc(21 / 14);
    text-align: center;
    margin-top: 38px;
  }
  @media screen and (min-width: 575px) {
    font-size: 16px;
    line-height: calc(24 / 16);
    text-align: center;
    width: 469px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 34px;
  }

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: calc(21 / 14);
    width: 400px;
    text-align: start;
    margin-top: 5px;
  }

  @media screen and (min-width: 992px) {
    font-size: 16px;
    line-height: calc(24 / 16);
  }
  @media screen and (min-width: 1378px) {
    font-size: 20px;
    line-height: calc(30 / 20);
    margin-top: 60px;
  }
}

.contact-us__title {
  @media screen and (min-width: 768px) {
    text-align: start;
  }
}

.contact-us__image {
  @media screen and (min-width: 768px) {
    position: absolute;
    top: 0;
    left: 0;
    width: 312px;
  }
}
