// .footer {
// }

.footer__container {
  position: relative;

  @media screen and (max-width: 574px) {
    text-align: center;
    padding-top: 26px;
    padding-bottom: 48px;
  }

  @media screen and (min-width: 575px) {
    display: flex;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  @media screen and (min-width: 1378px) {
    display: flex;
    align-items: center;
    padding-bottom: 55px;
  }
}

.footer__container::before {
  display: inline-block;
  position: absolute;
  content: '';
  align-items: center;
  height: 1px;
  top: 0;

  background: #c4c4c4;

  @media screen and (max-width: 574px) {
    width: 290px;
    left: 15px;
  }

  @media screen and (min-width: 575px) {
    width: 535px;
    left: 20px;
  }

  @media screen and (min-width: 768px) {
    width: 728px;
  }
  @media screen and (min-width: 1378px) {
    width: 1338px;
  }
}

.footer__logo {
  @media screen and (max-width: 574px) {
  }

  @media screen and (min-width: 1378px) {
    margin-right: 463px;
  }
}

.footer__list {
  @media screen and (max-width: 574px) {
    display: flex;
    margin-top: 15px;
    justify-content: space-between;
    align-items: baseline;
    gap: 10px;
  }
  @media screen and (min-width: 575px) {
    display: flex;
    margin-left: auto;
    gap: 20px;
    align-items: center;
  }

  @media screen and (min-width: 1378px) {
    display: flex;
    gap: 80px;
  }
}

.footer__info {
  color: inherit;
  display: block;

  @media screen and (max-width: 574px) {
    font-size: 10px;
    line-height: calc(16 / 10);
  }

  @media screen and (min-width: 575px) {
    font-size: 12px;
    line-height: calc(18 / 12);
  }

  @media screen and (min-width: 768px) {
    font-size: 13px;
    line-height: calc(20 / 13);
  }

  @media screen and (min-width: 992px) {
    font-size: 16px;
    line-height: calc(24 / 16);
  }
  @media screen and (min-width: 1378px) {
    font-size: 24px;
    line-height: calc(36 / 24);
    letter-spacing: 0.02em;
    padding-top: 31px;
    padding-bottom: 31px;
  }
}

.footer__item:not(:first-child) {
  @media screen and (max-width: 991px) {
    list-style: disc;
  }
}
