.form {
  margin-top: 30px;

  @media screen and (max-width: 574px) {
    display: flex;
    flex-direction: column;
    gap: 17px;
  }
  @media screen and (min-width: 575px) {
    margin-top: 60px;
  }
  @media screen and (min-width: 1378px) {
    display: flex;
  }
}

.form__email {
  border: 1px solid #8f95a5;
  border-radius: 10px;

  @media screen and (max-width: 574px) {
    padding: 16px 26px;
    min-width: 291px;
    font-size: 12px;
    line-height: calc(18 / 12);
  }

  @media screen and (min-width: 575px) {
    font-size: 13px;
    line-height: calc(20 / 13);
    padding: 20px 25px;
    min-width: 330px;
  }

  @media screen and (min-width: 768px) {
    font-size: 12px;
    line-height: calc(18 / 12);
    padding: 16px 24px;
    min-width: 280px;
  }

  @media screen and (min-width: 992px) {
    font-size: 14px;
    line-height: calc(21 / 14);
    padding: 20px 38px;
    min-width: 323px;
  }

  @media screen and (min-width: 1378px) {
    padding: 20px 30px;
    font-size: 20px;
    line-height: calc(30 / 20);
    letter-spacing: 0.03em;
    min-width: 425px;
  }
}

.button__form {
  border-color: transparent;
  color: $primary-bg-color;
  background: $accent-bg-color;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;

  @media screen and (max-width: 574px) {
    font-size: 14px;
    line-height: calc(21 / 14);
    min-width: 290px;
    padding: 20px 110px;
  }

  @media screen and (min-width: 575px) {
    font-size: 16px;
    line-height: calc(24 / 16);
    padding: 18px 56px;
    min-width: 193px;
  }

  @media screen and (min-width: 768px) {
    font-size: 13px;
    line-height: calc(20 / 13);
    padding: 15px 40px;
    min-width: 140px;
  }

  @media screen and (min-width: 992px) {
    font-size: 16px;
    line-height: calc(24 / 16);
    padding: 18px 56px;
  }

  @media screen and (min-width: 1378px) {
    padding-top: 20px;
    padding-bottom: 20px;

    margin-left: 30px;
    font-size: 20px;
    line-height: calc(30 / 20);
    letter-spacing: 0.03em;
    min-width: 312px;
  }
}
