.header__container {
  display: flex;
  // padding-top: 55px;
  align-items: center;

  @media screen and(max-width: 574px) {
    padding-top: 36px;
    padding-bottom: 29px;
  }
  @media screen and (min-width: 575px) {
    padding: 39px 32px;
  }
}
