.hero__container {
  display: flex;

  // gap: 144px;

  @media screen and (max-width: 767px) {
    flex-direction: column-reverse;
    text-align: center;
  }
  @media screen and (min-width: 768px) {
    align-items: center;
  }
}

.container--first {
  position: relative;
  @media screen and (max-width: 574px) {
    width: 292px;
  }

  @media screen and(min-width: 575px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 492px;
  }
  @media screen and (min-width: 768px) {
    align-items: flex-start;
  }

  @media screen and (min-width: 768px) {
    width: 338px;
  }

  @media screen and (min-width: 992px) {
  }

  @media screen and (min-width: 1378px) {
    width: 540px;
  }
}

.container--second {
  @media screen and (min-width: 768px) {
    width: 352px;
  }
}
.svg-bulb {
  @media screen and(max-width: 768px) {
    display: none;
  }

  position: absolute;
  top: 120px;
  left: 400px;
}

.hero__title {
  font-weight: 600;
  color: $secondary-text-color;

  @media screen and(max-width: 574px) {
    font-size: 24px;
    line-height: calc(36 / 24);
    margin-top: 16px;
  }

  @media screen and(min-width: 575px) {
    font-size: 34px;
    line-height: calc(45 / 34);
    margin-top: 17px;
  }

  @media screen and(min-width: 768px) {
    font-size: 36px;
    line-height: calc(45 / 36);
    width: 217px;
  }

  @media screen and(min-width: 992px) {
    font-size: 48px;
    line-height: calc(64 / 48);
  }

  @media screen and(min-width: 1378px) {
    font-size: 64px;
    line-height: calc(80 / 64);

    margin-bottom: 40px;
  }
}

.hero__text {
  @media screen and(max-width: 574px) {
    font-size: 14px;
    line-height: calc(21 / 14);
    margin-top: 20px;
  }

  @media screen and(min-width: 575px) {
    font-size: 16px;
    line-height: calc(24 / 16);

    margin-top: 26px;
    text-align: center;
  }

  @media screen and(min-width: 768px) {
    text-align: start;
  }

  @media screen and(min-width: 992px) {
    font-size: 20px;
    line-height: calc(30 / 20);
  }

  @media screen and(min-width: 1378px) {
    font-size: 24px;
    line-height: calc(36 / 24);
    margin-bottom: 60px;
  }
}
