.menu-container {
  position: absolute;
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: $white-text-color;
  transform: translateX(100%);

  transition: transform 250ms linear;

  @media screen and(min-width: 768px) and(max-width: 991px) {
    width: 400px;

    transform: translateX(200%);
    transition: transform 250ms linear;
  }
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container__header {
  display: flex;
  position: relative;
  padding: 35px 0;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;

  &::after {
    content: '';
    position: absolute;
    align-items: center;
    height: 1px;
    bottom: 0;
    width: 290px;

    background: #c4c4c4;
  }

  @media screen and(max-width: 574px) {
    width: 290px;
  }

  @media screen and(min-width: 575px) and(max-width: 767px) {
    &::after {
      width: 510px;
    }
    width: 510px;
  }

  @media screen and(min-width: 768px) and(max-width: 991px) {
    &::after {
      position: absolute;
      align-items: center;

      width: 364px;
    }

    width: 364px;
  }
}

.button-menu__close {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  border-radius: transparent;
}
