.nav {
  display: flex;
  align-items: center;

  @media screen and (max-width: 991px) {
    display: none;
  }
}

.nav__list {
  display: flex;
  gap: 50px;
}

.nav__link {
  font-weight: 500;
  font-size: 20px;
  line-height: calc(30 / 20);
  color: $title-color;
  padding-top: 20px;
  padding-bottom: 20px;
}
