.image {
  @media screen and (min-width: 1378px) {
    padding-top: 32px;
  }
}

.parent {
  @media screen and (max-width: 574px) {
    display: flex;
    gap: 21px;
    flex-direction: column;
    margin-top: 32px;
    align-items: center;
  }

  @media screen and(min-width: 575px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin-top: 30px;
  }

  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    margin-top: 60px;
  }
}

.card-skils {
  background: $secondary-bg-color;
  border-radius: 10px;

  @media screen and(max-width: 767px) {
    width: 240px;
  }
}

.card-skils__container {
  @media screen and (max-width: 574px) {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 45px;
  }

  @media screen and (min-width: 575px) {
    padding-left: 15px;
    padding-right: 25px;
    padding-bottom: 35px;
  }

  @media screen and (min-width: 767px) {
    padding-left: 15px;
    padding-right: 25px;
    padding-bottom: 30px;
  }
  @media screen and (min-width: 1378px) {
    padding-left: 18px;
    padding-right: 50px;
    padding-bottom: 32px;
  }
}

.card-skils__speaking {
  @media screen and (min-width: 768px) {
    grid-area: 1 / 1 / 3 / 2;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.card-skils__writing {
  @media screen and (min-width: 768px) {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.card-skils__reading {
  @media screen and (min-width: 768px) {
    grid-area: 1 / 3 / 2 / 4;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.card-skils__listening {
  @media screen and (min-width: 768px) {
    grid-area: 2 / 2 / 3 / 4;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
}

.card-skils__listening .image {
  @media screen and (min-width: 768px) and (max-width: 991px) {
    width: 202px;
  }
  @media screen and (min-width: 992px) and (max-width: 1377px) {
    width: 254px;
  }
}

.card-skils__subtitle {
  font-weight: 600;
  color: $title-color;

  @media screen and (max-width: 574px) {
    font-size: 18px;
    line-height: calc(80 / 18);
  }

  @media screen and (min-width: 768px) {
    font-size: 22px;
    line-height: calc(80 / 20);
  }

  @media screen and (min-width: 1378px) {
    font-size: 30px;
    line-height: calc(45 / 30);
    margin-bottom: 20px;
  }
}

.card-skils__text {
  @media screen and (max-width: 574px) {
    font-size: 13px;
    line-height: calc(20 / 13);
  }

  @media screen and (min-width: 575px) {
    font-size: 12px;
    line-height: calc(18 / 12);
  }

  @media screen and (min-width: 768px) {
    font-size: 13px;
    line-height: calc(20 / 13);
  }

  @media screen and (min-width: 992px) {
    font-size: 14px;
    line-height: calc(21 / 14);
  }

  @media screen and (min-width: 1378px) {
    font-size: 16px;
    line-height: calc(24 / 16);
  }
}

.card-skils__text + .card-skils__text {
  margin-top: 20px;
}
